
/* THE BASICS
-------------------------------------------------- */
body {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	background-color: var(--butter);
}

:root {
	--navy: #121738;
	--butter: #F9F7E8;
	--agua: #10B6DC;
	--earth: #8A3B24;
	--honey: #EED974;
	--rose: #CE7182;
}

p {
	font-family: 'Lato', sans-serif;
	color: var(--navy);
	text-align: center;
	margin-top: 30px;
    margin-bottom: 30px;
}

h1, h2, h3, h5 {
	font-family: 'Vollkorn', serif;
}

/* Page title */
h1 {
	color: var(--butter);
	font-weight: 800;
	letter-spacing: .02em;
	font-size: 3.3em;
}

/* Title description */

h2 {
	font-family: 'Lato', sans-serif;
	color: var(--butter);
	font-weight: bolder;
	letter-spacing: .02em;
	font-size: 1.6em;
	margin-bottom: 10px;


}

/* Section titles */

h3 {
	color: var(--navy);
	letter-spacing: .02em;
	font-weight: 800;
	font-size: 2.2em;
	line-height: 2.3em;
}

/* Section title descriptions */

h4 {
	font-family: 'Lato', sans-serif;
	color: var(--navy);
	font-weight: bolder;
	letter-spacing: .02em;
	font-size: 1.3em;
}

/*Bee types*/

h5 {
	color: var(--earth);
	letter-spacing: .02em;
	font-weight: 800;
	font-size: 1.3em;
}

.container {
	padding-top: 80px;
	padding-bottom: 80px;

}

.squig {
	height: 120px;
    display: block;
    margin: 0 auto;

}

#squig-place {
    width: 100%;
    position: absolute;
    bottom: -60px;
    z-index: 3;
}

/* HERO
-------------------------------------------------- */

/* Scroll to top button
-------------------------------------------------- */

#myBtn {
/*	transform: rotate(90deg);*/
	background: var(--honey);
	position: fixed; /* Fixed/sticky position */
	bottom: 40px; /* Place the button at the bottom of the page */
	right: 100px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	color: var(--navy);
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 20px; /* Some padding */
	font-size: .8em;
	font-weight: bold;
	letter-spacing: 0.4em;
	max-width: 300px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--navy);
  height: 8px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Hero block: curving and bg image;
-------------------------------------------------- */

.hero {
	width: 100%;
	min-height: 800px;
	background-image: url('../images/hero.jpg');
	background-position: center;
	background-repeat: no-repeat;
    border-bottom-left-radius: 70% 30%;
    border-bottom-right-radius: 70% 30%;
	text-align: left;
	position: relative;
}

.hero h1{
	margin-top: 150px;
	margin-left: 50px;
}

.hero h2{
	margin-left: 50px;
}

/* Scroll to explore element;
-------------------------------------------------- */

#explore-text {
	text-transform: uppercase;
	text-align: center;
    font-size: .8em;
    font-weight: bolder;
	letter-spacing: 0.4em;
	color: var(--butter);
	position: absolute;
	bottom: -330px;
	width: 100%;
}


/* ABOUT
-------------------------------------------------- */

/* About block: background, formatting elements within it;
-------------------------------------------------- */

.about {
	text-align: center;
	background-color: #F9F7E8;
	width: 100%;
	position:relative;
}

.about p {
	text-align: center;
}

#scientific-name {
	font-style: italic;
	font-weight: bold;
}

#comb {
	position: absolute;
	top: -325px;
    opacity: .6;
    left: 20px;
    width: 100%;

}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* TYPES
-------------------------------------------------- */

/* Types block: background, formatting elements within it;
-------------------------------------------------- */

.types {
	text-align: center;
	background-color: #F9F7E8;
	width: 100%;
}

.types img{
	margin-top: 40px;
	width: 50%;
}

#worker {
	background-image: url("../images/queenbee.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
	border-radius: 50%;
}

#worker:hover {
	background-image: url("../images/workerbee-hover.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
}

#queen {
	background-image: url("../images/queenbee.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
	border-radius: 50%;
}

#queen:hover {
	background-image: url("../images/queenbee-hover.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
}

#drone {
	background-image: url("../images/queenbee.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
	border-radius: 50%;
}

#drone:hover {
	background-image: url("../images/dronebee-hover.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* FAST FACTS
-------------------------------------------------- */

/* Facts block: background, formatting elements within it;
-------------------------------------------------- */

.facts {
	width: 100%;
	text-align: center;
	background-color: var(--earth);
    border-bottom-left-radius: 70% 30%;
    border-bottom-right-radius: 70% 30%;
}

.facts h3 {
	color: var(--honey);
}

.facts h4 {
	color: var(--honey);
}

.facts p{
	color: var(--butter);
}

.button-fact {
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 20px; /* Some padding */
	font-weight: bold;
	letter-spacing: 0.4em;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 50px 0 50px 0;
	background-color: var(--butter);
	color: var(--navy);
	font-size: 1em;
	border: none;


}

.button-fact:hover {
	background-color: var(--agua);
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


#fact-img {
	object-fit: cover;
	height: 40%;
}

#fact-text {
}

/* BTW
-------------------------------------------------- */

/* By the way block: background, formatting elements within it;
-------------------------------------------------- */

.btw {
	background-color: var(--butter);
	text-align: center;
	width: 100%;
	position: relative;
	min-height: 500px;
}

.btw h1 {
	color: var(--navy);
	max-width: 400px;
	z-index: 1;
	position: absolute;
}

.btw img {
	margin: 50px 0 50px 0;
	max-height: 450px;
}

.pics {
	position: relative;
	width: 100%;
}

.heart {
	opacity: 0;
	z-index: 1;
	position: absolute;
}

.octo {
	filter: drop-shadow(0 0 15px #333);
	z-index: 3;
}

.highlight {
	width: 100%;
	z-index: 1;
	position: absolute;
}

.ray {
	opacity: 0;
	z-index: 0;
	position: relative;
}



/* MORE
-------------------------------------------------- */

/* What's more block: background, formatting elements within it;
-------------------------------------------------- */

.more {
/*	background-image: url("assets/images/more.png");
	background-position: center;
	background-repeat: no-repeat;*/
	background-color: var(--earth);
	width: 100%;
	text-align: center;
	border-top-left-radius: 70% 30%;
    border-top-right-radius: 70% 30%;
/*    min-height: 600px;*/
}

.more h3 {
	color: var(--honey);
}

.more h4 {
	color: var(--honey);
}

.more p {
	color: var(--butter);
}


/* ALMONDS
-------------------------------------------------- */

/* Almonds block: background, formatting elements within it;
-------------------------------------------------- */

.almonds {
	width: 100%;
	background-image: url('../images/almonds.png');
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	min-height: 500px;
}

.almonds h3 {
	color:var(--earth);
	text-shadow: 0.05em 0.05em rgba(0, 0, 0, .05);

}

/* RISK
-------------------------------------------------- */

/* Risk block: background, formatting elements within it;
-------------------------------------------------- */

.risk {
	width: 100%;
	background-image:url('../images/stripes.png');
	background-position: center;
	background-repeat: repeat;
	text-align: center;
	min-height: 500px;
}

.risk h3 {
	color: var(--butter);
	padding-top: 45px;
}

/* THREATS
-------------------------------------------------- */

/* Threats block: background, formatting elements within it;
-------------------------------------------------- */

.threat {
	width: 100%;
	background-color: var(--navy);
	text-align: center;
}

.threat img{
	margin-top: 40px;
	width: 50%;
}

.threat h3{
	color: var(--honey);
}

.threat h5 {
	color: var(--honey);
}

.threat p {
	color: var(--butter);
}

#threat1 {
	background-image: url("../images/collapse.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
	border-radius: 50%;
}

#threat1:hover {
	background-image: url("../images/collapse-hover.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
}

#threat2 {
	background-image: url("../images/parasite.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
	border-radius: 50%;
}

#threat2:hover {
	background-image: url("../images/parasite-hover.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
}

#threat3 {
	background-image: url("../images/pesticide.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
	border-radius: 50%;
}

#threat3:hover {
	background-image: url("../images/pesticide-hover.png");
	height: 200px;
	width: 200px;
	margin: 40px auto;
	background-repeat: no-repeat;
}

/* HELP
-------------------------------------------------- */

/* Help block: background, formatting elements within it;
-------------------------------------------------- */

.help {
	background-color: var(--butter);
	width: 100%;
	text-align: center;
	min-height: 500px;
	position: relative;
}

.help h3 {
	padding-top: 150px;
	color: var(--earth);
}

.help h5 {
	color: var(--agua);
}

.help img {
	margin: 50px 0 50px 0;
	max-height: 450px;
}

.highlight-low {
	width: 100%;
	z-index: 1;
	position: absolute;
}

.ray-low {
		opacity: 0;
	z-index: 0;
	position: relative;
}


/* HOW
-------------------------------------------------- */

/* How:; block: background, formatting elements within it;
-------------------------------------------------- */

.how {
	width: 100%;
	text-align: center;
	background-color: var(--butter);
	position: relative;
	min-height: 500px;
	height: 80%;

}

.how h3 {
	color: var(--rose);

}

.how h4 {
	color: var(--rose);
	z-index: 3;
}


.how p {
	color: var(--navy);
	z-index: 3;
}

#flowers {
    position: absolute;
    top: -200px;
    opacity: .6;
    left: 20px;
    width: 100%;
    z-index: 1;

}

/* FIN
-------------------------------------------------- */

/* Fin:;  block: background, formatting elements within it;
-------------------------------------------------- */

.fin {
	background-image: url('../images/hero.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	text-align: center;
	border-top-left-radius: 70% 30%;
    border-top-right-radius: 70% 30%;
    min-height: 800px;

}


/* Media Queries
-------------------------------------------------- */
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

	h3 {
		line-height: 2em;
	}

	p {}

	.hero {
		text-align: center;
	}

	.hero h1 {
		font-size:2.2em;
		margin: 50px 10px;
	}

	.hero h2 {
		font-size: : 0.8em;
		margin: 50px 10px;
	}

	#explore-text {
		bottom: -280px;
	}

	#fact-img {
		width: 100%;
	}

	.btw img {
		width: 100%;
	}

	.ray, .ray-low {
		width: 90%;
		padding-top: -20px;
	}

	#comb {
	    top: -80px;
	    opacity: 1;
	    left: -10px;
	    width: 120%;
	}

	#flowers {
		position: absolute;
    	top: 20px;
    	opacity: 1;
    	left: 20px;
    	width: 100%;
	}
}




